<a href="https://colab.research.google.com/github/technicalclub-rcoem/Gamepad-101/blob/resultprediction/tictactoe_resultpredictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Load the Dataset

In [0]:
import pandas as pd

In [28]:
!wget https://raw.githubusercontent.com/technicalclub-rcoem/Gamepad-101/resultprediction/tictactoe-endgame-dataset-uci/tic-tac-toe-endgame.csv

--2020-05-06 12:13:44--  https://raw.githubusercontent.com/technicalclub-rcoem/Gamepad-101/resultprediction/tictactoe-endgame-dataset-uci/tic-tac-toe-endgame.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45077 (44K) [text/plain]
Saving to: ‘tic-tac-toe-endgame.csv.1’

tic-tac-toe-endgame 100%[===================>]  44.02K  --.-KB/s    in 0.01s

2020-05-06 12:13:44 (3.08 MB/s) - ‘tic-tac-toe-endgame.csv.1’ saved [45077/45077]

In [29]:
df = pd.read_csv('tic-tac-toe-endgame.csv')
df.head()

  V1 V2 V3 V4 V5 V6 V7 V8 V9       V10
0  x  x  x  x  o  o  x  o  o  positive
1  x  x  x  x  o  o  o  x  o  positive
2  x  x  x  x  o  o  o  o  x  positive
3  x  x  x  x  o  o  o  b  b  positive
4  x  x  x  x  o  o  b  o  b  positive

#Explore the data

In [30]:
df.shape

(958, 10)

In [31]:
df.describe()

         V1   V2   V3   V4   V5   V6   V7   V8   V9       V10
count   958  958  958  958  958  958  958  958  958       958
unique    3    3    3    3    3    3    3    3    3         2
top       x    x    x    x    x    x    x    x    x  positive
freq    418  378  418  378  458  378  418  378  418       626

#Preprocess data

In [32]:
df = df.replace(to_replace='b',value=-1)    # blank --> -1
df = df.replace(to_replace='o',value=0)     # o --> 0
df = df.replace(to_replace='x',value=1)     # x --> 1
df = df.replace(to_replace='positive',value=1)  # x wins -- 1
df = df.replace(to_replace='negative',value=0)  # x lose -- 0
df.head()

   V1  V2  V3  V4  V5  V6  V7  V8  V9  V10
0   1   1   1   1   0   0   1   0   0    1
1   1   1   1   1   0   0   0   1   0    1
2   1   1   1   1   0   0   0   0   1    1
3   1   1   1   1   0   0   0  -1  -1    1
4   1   1   1   1   0   0  -1   0  -1    1

#Split data

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df, df.V10, test_size=0.2)

X_train = X_train.drop(['V10'],axis = 1)
X_test  = X_test.drop(['V10'],axis = 1)

In [34]:
X_train.shape

(766, 9)

#Create the model

In [0]:
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense

In [36]:
inputs = X_train.shape[1]
print(inputs)

9

In [0]:
#Model
# def create_baseline():
# create model
model = Sequential()
model.add(Dense(60, input_shape= (X_train.shape[1],), activation='relu'))
model.add(Dense(60, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
# Compile model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
# return model

In [38]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 60)                600
_________________________________________________________________
dense_5 (Dense)              (None, 60)                3660
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 61
=================================================================
Total params: 4,321
Trainable params: 4,321
Non-trainable params: 0
_________________________________________________________________

In [39]:
val = model.evaluate(X_test,y_test)
print(val)

192/192 [==============================] - 0s 112us/step
[0.7584498226642609, 0.3958333432674408]

# Training

In [40]:
model.fit(X_train,y_train, epochs=100)

Epoch 1/100
766/766 [==============================] - 0s 179us/step - loss: 0.6690 - accuracy: 0.5718
Epoch 2/100
766/766 [==============================] - 0s 50us/step - loss: 0.6105 - accuracy: 0.6580
Epoch 3/100
766/766 [==============================] - 0s 48us/step - loss: 0.5894 - accuracy: 0.6710
Epoch 4/100
766/766 [==============================] - 0s 45us/step - loss: 0.5723 - accuracy: 0.6958
Epoch 5/100
766/766 [==============================] - 0s 46us/step - loss: 0.5563 - accuracy: 0.7350
Epoch 6/100
766/766 [==============================] - 0s 48us/step - loss: 0.5385 - accuracy: 0.7507
Epoch 7/100
766/766 [==============================] - 0s 49us/step - loss: 0.5204 - accuracy: 0.7546
Epoch 8/100
766/766 [==============================] - 0s 49us/step - loss: 0.5014 - accuracy: 0.7833
Epoch 9/100
766/766 [==============================] - 0s 43us/step - loss: 0.4816 - accuracy: 0.8003
Epoch 10/100
766/766 [==============================] - 0s 41us/step - loss: 0.4616 - accuracy: 0.8003
Epoch 11/100
766/766 [==============================] - 0s 42us/step - loss: 0.4444 - accuracy: 0.8264
Epoch 12/100
766/766 [==============================] - 0s 42us/step - loss: 0.4256 - accuracy: 0.8211
Epoch 13/100
766/766 [==============================] - 0s 40us/step - loss: 0.4077 - accuracy: 0.8433
Epoch 14/100
766/766 [==============================] - 0s 39us/step - loss: 0.3902 - accuracy: 0.8590
Epoch 15/100
766/766 [==============================] - 0s 44us/step - loss: 0.3748 - accuracy: 0.8629
Epoch 16/100
766/766 [==============================] - 0s 50us/step - loss: 0.3607 - accuracy: 0.8747
Epoch 17/100
766/766 [==============================] - 0s 47us/step - loss: 0.3431 - accuracy: 0.8799
Epoch 18/100
766/766 [==============================] - 0s 47us/step - loss: 0.3319 - accuracy: 0.8838
Epoch 19/100
766/766 [==============================] - 0s 45us/step - loss: 0.3191 - accuracy: 0.8890
Epoch 20/100
766/766 [==============================] - 0s 56us/step - loss: 0.3054 - accuracy: 0.8995
Epoch 21/100
766/766 [==============================] - 0s 44us/step - loss: 0.2959 - accuracy: 0.8903
Epoch 22/100
766/766 [==============================] - 0s 48us/step - loss: 0.2893 - accuracy: 0.8969
Epoch 23/100
766/766 [==============================] - 0s 44us/step - loss: 0.2783 - accuracy: 0.9008
Epoch 24/100
766/766 [==============================] - 0s 49us/step - loss: 0.2639 - accuracy: 0.9099
Epoch 25/100
766/766 [==============================] - 0s 53us/step - loss: 0.2554 - accuracy: 0.9112
Epoch 26/100
766/766 [==============================] - 0s 47us/step - loss: 0.2457 - accuracy: 0.9164
Epoch 27/100
766/766 [==============================] - 0s 48us/step - loss: 0.2374 - accuracy: 0.9230
Epoch 28/100
766/766 [==============================] - 0s 49us/step - loss: 0.2273 - accuracy: 0.9204
Epoch 29/100
766/766 [==============================] - 0s 53us/step - loss: 0.2185 - accuracy: 0.9269
Epoch 30/100
766/766 [==============================] - 0s 51us/step - loss: 0.2109 - accuracy: 0.9295
Epoch 31/100
766/766 [==============================] - 0s 46us/step - loss: 0.2033 - accuracy: 0.9347
Epoch 32/100
766/766 [==============================] - 0s 48us/step - loss: 0.1939 - accuracy: 0.9413
Epoch 33/100
766/766 [==============================] - 0s 48us/step - loss: 0.1876 - accuracy: 0.9452
Epoch 34/100
766/766 [==============================] - 0s 49us/step - loss: 0.1772 - accuracy: 0.9465
Epoch 35/100
766/766 [==============================] - 0s 45us/step - loss: 0.1711 - accuracy: 0.9491
Epoch 36/100
766/766 [==============================] - 0s 40us/step - loss: 0.1639 - accuracy: 0.9530
Epoch 37/100
766/766 [==============================] - 0s 39us/step - loss: 0.1586 - accuracy: 0.9517
Epoch 38/100
766/766 [==============================] - 0s 44us/step - loss: 0.1464 - accuracy: 0.9608
Epoch 39/100
766/766 [==============================] - 0s 42us/step - loss: 0.1413 - accuracy: 0.9595
Epoch 40/100
766/766 [==============================] - 0s 42us/step - loss: 0.1342 - accuracy: 0.9674
Epoch 41/100
766/766 [==============================] - 0s 41us/step - loss: 0.1303 - accuracy: 0.9608
Epoch 42/100
766/766 [==============================] - 0s 44us/step - loss: 0.1223 - accuracy: 0.9700
Epoch 43/100
766/766 [==============================] - 0s 54us/step - loss: 0.1150 - accuracy: 0.9674
Epoch 44/100
766/766 [==============================] - 0s 40us/step - loss: 0.1124 - accuracy: 0.9713
Epoch 45/100
766/766 [==============================] - 0s 41us/step - loss: 0.1066 - accuracy: 0.9778
Epoch 46/100
766/766 [==============================] - 0s 41us/step - loss: 0.0984 - accuracy: 0.9804
Epoch 47/100
766/766 [==============================] - 0s 49us/step - loss: 0.0955 - accuracy: 0.9883
Epoch 48/100
766/766 [==============================] - 0s 45us/step - loss: 0.0898 - accuracy: 0.9843
Epoch 49/100
766/766 [==============================] - 0s 42us/step - loss: 0.0855 - accuracy: 0.9922
Epoch 50/100
766/766 [==============================] - 0s 45us/step - loss: 0.0809 - accuracy: 0.9935
Epoch 51/100
766/766 [==============================] - 0s 41us/step - loss: 0.0765 - accuracy: 0.9935
Epoch 52/100
766/766 [==============================] - 0s 44us/step - loss: 0.0725 - accuracy: 0.9948
Epoch 53/100
766/766 [==============================] - 0s 40us/step - loss: 0.0686 - accuracy: 0.9974
Epoch 54/100
766/766 [==============================] - 0s 40us/step - loss: 0.0652 - accuracy: 0.9961
Epoch 55/100
766/766 [==============================] - 0s 40us/step - loss: 0.0618 - accuracy: 0.9974
Epoch 56/100
766/766 [==============================] - 0s 42us/step - loss: 0.0594 - accuracy: 0.9974
Epoch 57/100
766/766 [==============================] - 0s 42us/step - loss: 0.0556 - accuracy: 0.9987
Epoch 58/100
766/766 [==============================] - 0s 42us/step - loss: 0.0518 - accuracy: 0.9987
Epoch 59/100
766/766 [==============================] - 0s 41us/step - loss: 0.0498 - accuracy: 0.9987
Epoch 60/100
766/766 [==============================] - 0s 44us/step - loss: 0.0474 - accuracy: 1.0000
Epoch 61/100
766/766 [==============================] - 0s 42us/step - loss: 0.0453 - accuracy: 1.0000
Epoch 62/100
766/766 [==============================] - 0s 42us/step - loss: 0.0439 - accuracy: 1.0000
Epoch 63/100
766/766 [==============================] - 0s 45us/step - loss: 0.0397 - accuracy: 1.0000
Epoch 64/100
766/766 [==============================] - 0s 44us/step - loss: 0.0385 - accuracy: 1.0000
Epoch 65/100
766/766 [==============================] - 0s 42us/step - loss: 0.0360 - accuracy: 1.0000
Epoch 66/100
766/766 [==============================] - 0s 45us/step - loss: 0.0344 - accuracy: 1.0000
Epoch 67/100
766/766 [==============================] - 0s 44us/step - loss: 0.0330 - accuracy: 1.0000
Epoch 68/100
766/766 [==============================] - 0s 42us/step - loss: 0.0315 - accuracy: 1.0000
Epoch 69/100
766/766 [==============================] - 0s 39us/step - loss: 0.0300 - accuracy: 1.0000
Epoch 70/100
766/766 [==============================] - 0s 41us/step - loss: 0.0289 - accuracy: 1.0000
Epoch 71/100
766/766 [==============================] - 0s 43us/step - loss: 0.0270 - accuracy: 1.0000
Epoch 72/100
766/766 [==============================] - 0s 41us/step - loss: 0.0264 - accuracy: 1.0000
Epoch 73/100
766/766 [==============================] - 0s 47us/step - loss: 0.0255 - accuracy: 1.0000
Epoch 74/100
766/766 [==============================] - 0s 40us/step - loss: 0.0239 - accuracy: 1.0000
Epoch 75/100
766/766 [==============================] - 0s 43us/step - loss: 0.0226 - accuracy: 1.0000
Epoch 76/100
766/766 [==============================] - 0s 44us/step - loss: 0.0216 - accuracy: 1.0000
Epoch 77/100
766/766 [==============================] - 0s 51us/step - loss: 0.0212 - accuracy: 1.0000
Epoch 78/100
766/766 [==============================] - 0s 51us/step - loss: 0.0200 - accuracy: 1.0000
Epoch 79/100
766/766 [==============================] - 0s 47us/step - loss: 0.0192 - accuracy: 1.0000
Epoch 80/100
766/766 [==============================] - 0s 49us/step - loss: 0.0180 - accuracy: 1.0000
Epoch 81/100
766/766 [==============================] - 0s 47us/step - loss: 0.0173 - accuracy: 1.0000
Epoch 82/100
766/766 [==============================] - 0s 53us/step - loss: 0.0168 - accuracy: 1.0000
Epoch 83/100
766/766 [==============================] - 0s 51us/step - loss: 0.0161 - accuracy: 1.0000
Epoch 84/100
766/766 [==============================] - 0s 49us/step - loss: 0.0153 - accuracy: 1.0000
Epoch 85/100
766/766 [==============================] - 0s 44us/step - loss: 0.0148 - accuracy: 1.0000
Epoch 86/100
766/766 [==============================] - 0s 48us/step - loss: 0.0141 - accuracy: 1.0000
Epoch 87/100
766/766 [==============================] - 0s 55us/step - loss: 0.0135 - accuracy: 1.0000
Epoch 88/100
766/766 [==============================] - 0s 55us/step - loss: 0.0134 - accuracy: 1.0000
Epoch 89/100
766/766 [==============================] - 0s 50us/step - loss: 0.0128 - accuracy: 1.0000
Epoch 90/100
766/766 [==============================] - 0s 52us/step - loss: 0.0125 - accuracy: 1.0000
Epoch 91/100
766/766 [==============================] - 0s 45us/step - loss: 0.0117 - accuracy: 1.0000
Epoch 92/100
766/766 [==============================] - 0s 40us/step - loss: 0.0113 - accuracy: 1.0000
Epoch 93/100
766/766 [==============================] - 0s 42us/step - loss: 0.0109 - accuracy: 1.0000
Epoch 94/100
766/766 [==============================] - 0s 39us/step - loss: 0.0105 - accuracy: 1.0000
Epoch 95/100
766/766 [==============================] - 0s 42us/step - loss: 0.0101 - accuracy: 1.0000
Epoch 96/100
766/766 [==============================] - 0s 41us/step - loss: 0.0098 - accuracy: 1.0000
Epoch 97/100
766/766 [==============================] - 0s 42us/step - loss: 0.0094 - accuracy: 1.0000
Epoch 98/100
766/766 [==============================] - 0s 42us/step - loss: 0.0092 - accuracy: 1.0000
Epoch 99/100
766/766 [==============================] - 0s 40us/step - loss: 0.0088 - accuracy: 1.0000
Epoch 100/100
766/766 [==============================] - 0s 45us/step - loss: 0.0085 - accuracy: 1.0000

In [0]:
y_pred = model.predict(X_test)

In [42]:
y_df = pd.DataFrame(y_test)
y_df.shape

(192, 1)

In [43]:
loss = y_pred - y_df
print(loss)

          V10
60  -0.006477
646  0.006737
719  0.000003
629  0.009948
643  0.157391
..        ...
673  0.961220
697  0.003591
580 -0.000109
204 -0.001319
711  0.997388

[192 rows x 1 columns]

# Predictions

In [44]:
data1 = pd.DataFrame(X_test.iloc[0]).transpose()
data1.head()

    V1  V2  V3  V4  V5  V6  V7  V8  V9
60   1   1   1  -1   0   0  -1   1   0

In [45]:
data2 = pd.DataFrame([[1 	,-1 ,	0 ,	0 ,	1, 	1 ,	0 ,	-1 ,	1]])
data2.head()

   0  1  2  3  4  5  6  7  8
0  1 -1  0  0  1  1  0 -1  1

In [46]:
print(model.predict(data2))

[[0.99947923]]

In [0]:
import numpy as np

In [56]:
data3  = np.array([[1 	,-1 ,	0 ,	0 ,	1, 	1 ,	0 ,	-1 ,	1]])
print(model.predict(data3))

[[0.99947923]]