<a href="https://colab.research.google.com/github/technicalclub-rcoem/Gamepad-101/blob/resultprediction/tictactoe_resultpredictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Load the Dataset

In [0]:
import pandas as pd

In [23]:
!wget https://raw.githubusercontent.com/technicalclub-rcoem/Gamepad-101/resultprediction/tictactoe-endgame-dataset-uci/tic-tac-toe-endgame.csv

--2020-05-06 06:20:40--  https://raw.githubusercontent.com/technicalclub-rcoem/Gamepad-101/resultprediction/tictactoe-endgame-dataset-uci/tic-tac-toe-endgame.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45077 (44K) [text/plain]
Saving to: ‘tic-tac-toe-endgame.csv.1’

tic-tac-toe-endgame 100%[===================>]  44.02K  --.-KB/s    in 0.01s

2020-05-06 06:20:41 (3.07 MB/s) - ‘tic-tac-toe-endgame.csv.1’ saved [45077/45077]

In [24]:
df = pd.read_csv('tic-tac-toe-endgame.csv')
df.head()

  V1 V2 V3 V4 V5 V6 V7 V8 V9       V10
0  x  x  x  x  o  o  x  o  o  positive
1  x  x  x  x  o  o  o  x  o  positive
2  x  x  x  x  o  o  o  o  x  positive
3  x  x  x  x  o  o  o  b  b  positive
4  x  x  x  x  o  o  b  o  b  positive

#Explore the data

In [25]:
df.shape

(958, 10)

In [26]:
df.describe()

         V1   V2   V3   V4   V5   V6   V7   V8   V9       V10
count   958  958  958  958  958  958  958  958  958       958
unique    3    3    3    3    3    3    3    3    3         2
top       x    x    x    x    x    x    x    x    x  positive
freq    418  378  418  378  458  378  418  378  418       626

#Preprocess data

In [27]:
df = df.replace(to_replace='b',value=-1)    # blank --> -1
df = df.replace(to_replace='o',value=0)     # o --> 0
df = df.replace(to_replace='x',value=1)     # x --> 1
df = df.replace(to_replace='positive',value=1)  # x wins -- 1
df = df.replace(to_replace='negative',value=0)  # x lose -- 0
df.head()

   V1  V2  V3  V4  V5  V6  V7  V8  V9  V10
0   1   1   1   1   0   0   1   0   0    1
1   1   1   1   1   0   0   0   1   0    1
2   1   1   1   1   0   0   0   0   1    1
3   1   1   1   1   0   0   0  -1  -1    1
4   1   1   1   1   0   0  -1   0  -1    1

#Split data

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df, df.V10, test_size=0.2)

X_train = X_train.drop(['V10'],axis = 1)
X_test  = X_test.drop(['V10'],axis = 1)

In [60]:
X_train.shape

(766, 9)

#Create the model

In [0]:
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense

In [101]:
inputs = X_train.shape[1]
print(inputs)

9

In [0]:
#Model
# def create_baseline():
# create model
model = Sequential()
model.add(Dense(60, input_shape= (X_train.shape[1],), activation='relu'))
model.add(Dense(60, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
# Compile model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
# return model

In [84]:
model.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_17 (Dense)             (None, 60)                600
_________________________________________________________________
dense_18 (Dense)             (None, 60)                3660
_________________________________________________________________
dense_19 (Dense)             (None, 1)                 61
=================================================================
Total params: 4,321
Trainable params: 4,321
Non-trainable params: 0
_________________________________________________________________

In [85]:
val = model.evaluate(X_test,y_test)
print(val)

192/192 [==============================] - 0s 1ms/step
[0.7688010533650717, 0.3541666567325592]

In [87]:
model.fit(X_train,y_train, epochs=100)

Epoch 1/100
766/766 [==============================] - 0s 48us/step - loss: 0.6212 - accuracy: 0.6606
Epoch 2/100
766/766 [==============================] - 0s 39us/step - loss: 0.6018 - accuracy: 0.6802
Epoch 3/100
766/766 [==============================] - 0s 42us/step - loss: 0.5860 - accuracy: 0.6971
Epoch 4/100
766/766 [==============================] - 0s 40us/step - loss: 0.5689 - accuracy: 0.7141
Epoch 5/100
766/766 [==============================] - 0s 44us/step - loss: 0.5541 - accuracy: 0.7298
Epoch 6/100
766/766 [==============================] - 0s 40us/step - loss: 0.5351 - accuracy: 0.7520
Epoch 7/100
766/766 [==============================] - 0s 39us/step - loss: 0.5166 - accuracy: 0.7559
Epoch 8/100
766/766 [==============================] - 0s 45us/step - loss: 0.4958 - accuracy: 0.7807
Epoch 9/100
766/766 [==============================] - 0s 43us/step - loss: 0.4753 - accuracy: 0.8055
Epoch 10/100
766/766 [==============================] - 0s 42us/step - loss: 0.4557 - accuracy: 0.8198
Epoch 11/100
766/766 [==============================] - 0s 42us/step - loss: 0.4375 - accuracy: 0.8303
Epoch 12/100
766/766 [==============================] - 0s 41us/step - loss: 0.4181 - accuracy: 0.8316
Epoch 13/100
766/766 [==============================] - 0s 44us/step - loss: 0.4024 - accuracy: 0.8460
Epoch 14/100
766/766 [==============================] - 0s 45us/step - loss: 0.3891 - accuracy: 0.8460
Epoch 15/100
766/766 [==============================] - 0s 43us/step - loss: 0.3748 - accuracy: 0.8538
Epoch 16/100
766/766 [==============================] - 0s 41us/step - loss: 0.3619 - accuracy: 0.8564
Epoch 17/100
766/766 [==============================] - 0s 41us/step - loss: 0.3516 - accuracy: 0.8460
Epoch 18/100
766/766 [==============================] - 0s 47us/step - loss: 0.3402 - accuracy: 0.8655
Epoch 19/100
766/766 [==============================] - 0s 40us/step - loss: 0.3290 - accuracy: 0.8668
Epoch 20/100
766/766 [==============================] - 0s 43us/step - loss: 0.3218 - accuracy: 0.8655
Epoch 21/100
766/766 [==============================] - 0s 45us/step - loss: 0.3128 - accuracy: 0.8760
Epoch 22/100
766/766 [==============================] - 0s 41us/step - loss: 0.3040 - accuracy: 0.8773
Epoch 23/100
766/766 [==============================] - 0s 42us/step - loss: 0.3012 - accuracy: 0.8747
Epoch 24/100
766/766 [==============================] - 0s 42us/step - loss: 0.2898 - accuracy: 0.8838
Epoch 25/100
766/766 [==============================] - 0s 42us/step - loss: 0.2814 - accuracy: 0.8838
Epoch 26/100
766/766 [==============================] - 0s 43us/step - loss: 0.2730 - accuracy: 0.8956
Epoch 27/100
766/766 [==============================] - 0s 43us/step - loss: 0.2679 - accuracy: 0.8956
Epoch 28/100
766/766 [==============================] - 0s 43us/step - loss: 0.2627 - accuracy: 0.8982
Epoch 29/100
766/766 [==============================] - 0s 41us/step - loss: 0.2514 - accuracy: 0.9060
Epoch 30/100
766/766 [==============================] - 0s 45us/step - loss: 0.2468 - accuracy: 0.9073
Epoch 31/100
766/766 [==============================] - 0s 38us/step - loss: 0.2380 - accuracy: 0.9191
Epoch 32/100
766/766 [==============================] - 0s 53us/step - loss: 0.2327 - accuracy: 0.9138
Epoch 33/100
766/766 [==============================] - 0s 41us/step - loss: 0.2270 - accuracy: 0.9243
Epoch 34/100
766/766 [==============================] - 0s 41us/step - loss: 0.2192 - accuracy: 0.9269
Epoch 35/100
766/766 [==============================] - 0s 43us/step - loss: 0.2139 - accuracy: 0.9230
Epoch 36/100
766/766 [==============================] - 0s 40us/step - loss: 0.2071 - accuracy: 0.9308
Epoch 37/100
766/766 [==============================] - 0s 42us/step - loss: 0.2037 - accuracy: 0.9282
Epoch 38/100
766/766 [==============================] - 0s 47us/step - loss: 0.1984 - accuracy: 0.9360
Epoch 39/100
766/766 [==============================] - 0s 45us/step - loss: 0.1856 - accuracy: 0.9347
Epoch 40/100
766/766 [==============================] - 0s 50us/step - loss: 0.1809 - accuracy: 0.9439
Epoch 41/100
766/766 [==============================] - 0s 42us/step - loss: 0.1788 - accuracy: 0.9439
Epoch 42/100
766/766 [==============================] - 0s 43us/step - loss: 0.1699 - accuracy: 0.9439
Epoch 43/100
766/766 [==============================] - 0s 44us/step - loss: 0.1651 - accuracy: 0.9478
Epoch 44/100
766/766 [==============================] - 0s 43us/step - loss: 0.1619 - accuracy: 0.9465
Epoch 45/100
766/766 [==============================] - 0s 42us/step - loss: 0.1547 - accuracy: 0.9491
Epoch 46/100
766/766 [==============================] - 0s 40us/step - loss: 0.1485 - accuracy: 0.9595
Epoch 47/100
766/766 [==============================] - 0s 48us/step - loss: 0.1422 - accuracy: 0.9595
Epoch 48/100
766/766 [==============================] - 0s 41us/step - loss: 0.1386 - accuracy: 0.9648
Epoch 49/100
766/766 [==============================] - 0s 42us/step - loss: 0.1352 - accuracy: 0.9687
Epoch 50/100
766/766 [==============================] - 0s 40us/step - loss: 0.1300 - accuracy: 0.9595
Epoch 51/100
766/766 [==============================] - 0s 42us/step - loss: 0.1214 - accuracy: 0.9713
Epoch 52/100
766/766 [==============================] - 0s 39us/step - loss: 0.1168 - accuracy: 0.9726
Epoch 53/100
766/766 [==============================] - 0s 44us/step - loss: 0.1136 - accuracy: 0.9778
Epoch 54/100
766/766 [==============================] - 0s 43us/step - loss: 0.1106 - accuracy: 0.9739
Epoch 55/100
766/766 [==============================] - 0s 42us/step - loss: 0.1057 - accuracy: 0.9765
Epoch 56/100
766/766 [==============================] - 0s 41us/step - loss: 0.0988 - accuracy: 0.9869
Epoch 57/100
766/766 [==============================] - 0s 45us/step - loss: 0.0969 - accuracy: 0.9830
Epoch 58/100
766/766 [==============================] - 0s 49us/step - loss: 0.0921 - accuracy: 0.9883
Epoch 59/100
766/766 [==============================] - 0s 47us/step - loss: 0.0896 - accuracy: 0.9856
Epoch 60/100
766/766 [==============================] - 0s 39us/step - loss: 0.0852 - accuracy: 0.9896
Epoch 61/100
766/766 [==============================] - 0s 42us/step - loss: 0.0800 - accuracy: 0.9922
Epoch 62/100
766/766 [==============================] - 0s 41us/step - loss: 0.0767 - accuracy: 0.9935
Epoch 63/100
766/766 [==============================] - 0s 43us/step - loss: 0.0724 - accuracy: 0.9935
Epoch 64/100
766/766 [==============================] - 0s 42us/step - loss: 0.0715 - accuracy: 0.9909
Epoch 65/100
766/766 [==============================] - 0s 38us/step - loss: 0.0664 - accuracy: 0.9948
Epoch 66/100
766/766 [==============================] - 0s 45us/step - loss: 0.0651 - accuracy: 0.9948
Epoch 67/100
766/766 [==============================] - 0s 43us/step - loss: 0.0626 - accuracy: 0.9948
Epoch 68/100
766/766 [==============================] - 0s 41us/step - loss: 0.0591 - accuracy: 0.9961
Epoch 69/100
766/766 [==============================] - 0s 41us/step - loss: 0.0563 - accuracy: 0.9974
Epoch 70/100
766/766 [==============================] - 0s 42us/step - loss: 0.0542 - accuracy: 0.9987
Epoch 71/100
766/766 [==============================] - 0s 43us/step - loss: 0.0500 - accuracy: 1.0000
Epoch 72/100
766/766 [==============================] - 0s 40us/step - loss: 0.0507 - accuracy: 0.9974
Epoch 73/100
766/766 [==============================] - 0s 45us/step - loss: 0.0481 - accuracy: 0.9974
Epoch 74/100
766/766 [==============================] - 0s 46us/step - loss: 0.0441 - accuracy: 0.9987
Epoch 75/100
766/766 [==============================] - 0s 41us/step - loss: 0.0421 - accuracy: 1.0000
Epoch 76/100
766/766 [==============================] - 0s 41us/step - loss: 0.0413 - accuracy: 1.0000
Epoch 77/100
766/766 [==============================] - 0s 48us/step - loss: 0.0392 - accuracy: 0.9987
Epoch 78/100
766/766 [==============================] - 0s 46us/step - loss: 0.0385 - accuracy: 1.0000
Epoch 79/100
766/766 [==============================] - 0s 46us/step - loss: 0.0361 - accuracy: 0.9987
Epoch 80/100
766/766 [==============================] - 0s 43us/step - loss: 0.0359 - accuracy: 1.0000
Epoch 81/100
766/766 [==============================] - 0s 42us/step - loss: 0.0326 - accuracy: 1.0000
Epoch 82/100
766/766 [==============================] - 0s 40us/step - loss: 0.0312 - accuracy: 1.0000
Epoch 83/100
766/766 [==============================] - 0s 39us/step - loss: 0.0307 - accuracy: 1.0000
Epoch 84/100
766/766 [==============================] - 0s 40us/step - loss: 0.0287 - accuracy: 1.0000
Epoch 85/100
766/766 [==============================] - 0s 43us/step - loss: 0.0276 - accuracy: 1.0000
Epoch 86/100
766/766 [==============================] - 0s 43us/step - loss: 0.0261 - accuracy: 1.0000
Epoch 87/100
766/766 [==============================] - 0s 44us/step - loss: 0.0255 - accuracy: 1.0000
Epoch 88/100
766/766 [==============================] - 0s 43us/step - loss: 0.0245 - accuracy: 1.0000
Epoch 89/100
766/766 [==============================] - 0s 42us/step - loss: 0.0232 - accuracy: 1.0000
Epoch 90/100
766/766 [==============================] - 0s 41us/step - loss: 0.0224 - accuracy: 1.0000
Epoch 91/100
766/766 [==============================] - 0s 39us/step - loss: 0.0223 - accuracy: 1.0000
Epoch 92/100
766/766 [==============================] - 0s 41us/step - loss: 0.0209 - accuracy: 1.0000
Epoch 93/100
766/766 [==============================] - 0s 44us/step - loss: 0.0201 - accuracy: 1.0000
Epoch 94/100
766/766 [==============================] - 0s 43us/step - loss: 0.0190 - accuracy: 1.0000
Epoch 95/100
766/766 [==============================] - 0s 46us/step - loss: 0.0185 - accuracy: 1.0000
Epoch 96/100
766/766 [==============================] - 0s 47us/step - loss: 0.0178 - accuracy: 1.0000
Epoch 97/100
766/766 [==============================] - 0s 39us/step - loss: 0.0172 - accuracy: 1.0000
Epoch 98/100
766/766 [==============================] - 0s 40us/step - loss: 0.0170 - accuracy: 1.0000
Epoch 99/100
766/766 [==============================] - 0s 41us/step - loss: 0.0163 - accuracy: 1.0000
Epoch 100/100
766/766 [==============================] - 0s 43us/step - loss: 0.0159 - accuracy: 1.0000

In [0]:
y_pred = model.predict(X_test)

In [0]:
y_df = pd.DataFrame(y_test)
y_df.shape

In [99]:
loss = y_pred - y_df
print(loss)

          V10
259 -0.009481
957  0.123926
213 -0.013741
361 -0.002818
587 -0.000259
..        ...
624 -0.000081
13  -0.023044
274 -0.111913
288 -0.003478
934  0.183143

[192 rows x 1 columns]

In [118]:
data = pd.DataFrame(X_test.iloc[0]).transpose()
data.head()

     V1  V2  V3  V4  V5  V6  V7  V8  V9
259   1  -1   0   0   1   1   0  -1   1

In [121]:
dta = pd.DataFrame([[1 	,-1 ,	0 ,	0 ,	1, 	1 ,	0 ,	-1 ,	1]])
dta.head()

   0  1  2  3  4  5  6  7  8
0  1 -1  0  0  1  1  0 -1  1

In [122]:
print(model.predict(dta))

[[0.990519]]