<a href="https://colab.research.google.com/github/technicalclub-rcoem/Gamepad-101/blob/resultprediction/tictactoe_resultpredictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Load the Dataset

In [0]:
import pandas as pd

In [23]:
!wget https://raw.githubusercontent.com/technicalclub-rcoem/Gamepad-101/resultprediction/tictactoe-endgame-dataset-uci/tic-tac-toe-endgame.csv

--2020-05-06 06:20:40--  https://raw.githubusercontent.com/technicalclub-rcoem/Gamepad-101/resultprediction/tictactoe-endgame-dataset-uci/tic-tac-toe-endgame.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45077 (44K) [text/plain]
Saving to: ‘tic-tac-toe-endgame.csv.1’

tic-tac-toe-endgame 100%[===================>]  44.02K  --.-KB/s    in 0.01s

2020-05-06 06:20:41 (3.07 MB/s) - ‘tic-tac-toe-endgame.csv.1’ saved [45077/45077]

In [24]:
df = pd.read_csv('tic-tac-toe-endgame.csv')
df.head()

  V1 V2 V3 V4 V5 V6 V7 V8 V9       V10
0  x  x  x  x  o  o  x  o  o  positive
1  x  x  x  x  o  o  o  x  o  positive
2  x  x  x  x  o  o  o  o  x  positive
3  x  x  x  x  o  o  o  b  b  positive
4  x  x  x  x  o  o  b  o  b  positive

#Explore the data

In [25]:
df.shape

(958, 10)

In [26]:
df.describe()

         V1   V2   V3   V4   V5   V6   V7   V8   V9       V10
count   958  958  958  958  958  958  958  958  958       958
unique    3    3    3    3    3    3    3    3    3         2
top       x    x    x    x    x    x    x    x    x  positive
freq    418  378  418  378  458  378  418  378  418       626

#Preprocess data

In [27]:
df = df.replace(to_replace='b',value=-1)    # blank --> -1
df = df.replace(to_replace='o',value=0)     # o --> 0
df = df.replace(to_replace='x',value=1)     # x --> 1
df = df.replace(to_replace='positive',value=1)  # x wins -- 1
df = df.replace(to_replace='negative',value=0)  # x lose -- 0
df.head()

   V1  V2  V3  V4  V5  V6  V7  V8  V9  V10
0   1   1   1   1   0   0   1   0   0    1
1   1   1   1   1   0   0   0   1   0    1
2   1   1   1   1   0   0   0   0   1    1
3   1   1   1   1   0   0   0  -1  -1    1
4   1   1   1   1   0   0  -1   0  -1    1